<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCS9-Qv8qHPk77byfvG2YbFhkoDBeu4X00</string>
	<key>GCM_SENDER_ID</key>
	<string>14974867192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.water740</string>
	<key>PROJECT_ID</key>
	<string>water740-e3b28</string>
	<key>STORAGE_BUCKET</key>
	<string>water740-e3b28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14974867192:ios:dbac497a9c3440b86e4d0d</string>
</dict>
</plist>